<div class="text-center single-post">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.user_name}} on {{format_date date_created}}</p>
  <p>
    <h5>Current Post Likes: {{rating}}</h5>
  </p>
  <p>
    <button class="btn btn-sm btn-danger rate" data-id="{{id}}"> Click to Like Post<img src="https://clipartcraft.com/images/emoji-transparent-fire-3.png" alt="Fire Emoji" class="emoji-icon" width="30" height="30"></button>
  </p>
  <div>
  <h5>Star Rating</h5>
   <div class="allStars">
        <span onclick="gfg(1)"
              class="star">★
        </span>
        <span onclick="gfg(2)"
              class="star">★
        </span>
        <span onclick="gfg(3)"
              class="star">★
        </span>
        <span onclick="gfg(4)"
              class="star">★
        </span>
        <span onclick="gfg(5)"
              class="star">★
        </span>
        <h5 id="output">
              Rating is: 0/5
      </h5>
    </div>
    </div>
</div>

<script src="/js/post.js"></script>
<script src="/js/stars.js"></script>