<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <h5>Current Post Rating: {{rating}}</h5>
  </p>
  <p>
    <button class="btn btn-sm btn-danger rate" data-id="{{id}}">RATE POST</button>
  </p>
</div>

<script src="/js/post.js"></script>