<div class="text-center single-post">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <h4>Created by {{user.user_name}} on {{format_date date_created}}</h4>
  <p>
    <h5>Current Post Likes: {{rating}}</h5>
  </p>
  <p>
    <button class="btn btn-lg btn-danger rate" data-id="{{id}}"> Click to Like Post<img src="https://clipartcraft.com/images/emoji-transparent-fire-3.png" alt="Fire Emoji" class="emoji-icon" width="30" height="30"></button>
  </p>
  	<div class="container">
              <h5>Star Rating</h5>
		<div class="rating">
			<span id="rating">0</span>/5
		</div>
		<div class="stars" id="stars">
			<span class="star" data-value="1">★</span>
			<span class="star" data-value="2">★</span>
			<span class="star" data-value="3">★</span>
			<span class="star" data-value="4">★</span>
			<span class="star" data-value="5">★</span>
		</div>
		<div id="review"
				placeholder=" ">
    </div>
		<button id="submit" data-id="{{id}}">Submit</button>
		<div class="reviews" id="reviews">
		</div>
	</div>
    </div>
</div>
{{>test}}
<script src="/js/post.js"></script>
<script src="/js/stars.js"></script>