<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <h5>Current Post Rating: {{rating}}</h5>
  </p>
  <p>
    <button class="btn btn-sm btn-danger rate" data-id="{{id}}"> RATE POST<img src="https://clipartcraft.com/images/emoji-transparent-fire-3.png" alt="Fire Emoji" class="emoji-icon" width="30" height="30"></button>
<script src="/js/post.js"></script>