<div class="text-center single-post">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.user_name}} on {{format_date date_created}}</p>
  <p>
    <h5>Current Post Rating: {{rating}}</h5>
  </p>
  <p>
<<<<<<< HEAD
    <button class="btn btn-sm btn-danger rate" data-id="{{id}}"> RATE POST<img src="https://clipartcraft.com/images/emoji-transparent-fire-3.png" alt="Fire Emoji" class="emoji-icon" width="30" height="30"></button>
=======
    <button class="btn btn-lg btn-danger rate" data-id="{{id}}">
      RATE POST
       <img src="https://clipartcraft.com/images/emoji-transparent-fire-3.png" alt="Fire Emoji" class="emoji-icon" width="40" height="40">
      </button>
  </p>
</div>

>>>>>>> 35f908410b3066d0a63037b074b77c60b5c62c9b
<script src="/js/post.js"></script>